---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;

export const prerender = true;
---

<Layout title={frontmatter.title}>
  <section class="page-content">
    <div class="container max-w-5xl">
      <Card>
        <div transition:name={`post-button-${frontmatter.slug}`}>
          <a class="btn-white-bg" href="/blog">Go Back</a>
        </div>

        <div transition:name={`post-header-${frontmatter.slug}`}>
          <h2 class="py-6 text-4xl font-bold text-center">
            {frontmatter.title}
          </h2>
        </div>

        <div transition:name={`post-author-${frontmatter.slug}`}>
          <i>
            Written by <strong> {frontmatter.author}</strong> on
            {new Date(frontmatter.date).toLocaleDateString()}
          </i>
        </div>

        <div class="py-6" transition:name={`post-body-${frontmatter.slug}`}>
          <Content />
        </div>
      </Card>
    </div>
  </section>
</Layout>
