---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import logos from "../images/new-logos.png";
import logosSmall from "../images/new-logos-small.png";
import Showcase from "../components/Showcase.astro";
import YouTubeProfile from "../components/YouTubeProfile.astro";
import ImageCarousel from "../components/ImageCarousel.vue";
import { Image } from "astro:assets";
export const prerender = true;

const text =
  "Armed with a passion for emerging technologies, I've embarked on a continuous quest in the vast realm of IT. Since graduating, I've dedicated myself to mastering the dynamic landscape of technology, driven by an innate curiosity and a deep-seated love for problem-solving. I'm wired to seek and cherish the sense of achievement that programming offers; it's a feeling that continually fuels my passion. By traveling throughout the world, I’ve enriched my tech journey, blending global perspectives with innovative solutions.";
---

<Layout title="About Astro">
  <Showcase heading="Alejandro Bocchicchio's Blog" isAbout={true} text={text} />
  <section class="page-content">
    <div class="container" style="text-justify: auto; text-align: center">
      <Card><ImageCarousel client:load /></Card>

      <div class="mt-16">
        <Card dark={true}>
          <div id="youtube-profile">
            <YouTubeProfile />
          </div>
        </Card>
      </div>

      <div style="width: 100%; display: flex; justify-content: center;">
        <div
          style="width: 75%; height: 0; padding-bottom: 66%; position: relative;"
        >
          <iframe
            src="https://giphy.com/embed/VHTUhqI82ZgPK?rid=no_related"
            width="75%"
            height="75%"
            style="position: absolute; left: 0; right: 0; margin: auto;"
            frameborder="0"
            class="giphy-embed"></iframe>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center flex-1">
      <div class="image">
        <!-- Show this image for large screens and hide for small -->
        <Image
          class="hidden image lg:inline-block"
          id="logo"
          src={logos}
          alt="technologies flyer"
          width="900"
          height="80"
        />
        <!-- Show this image for small screens and hide for large -->
        <Image
          class="inline-block image lg:hidden"
          id="logo-small"
          src={logosSmall}
          alt="technologies flyer small"
          width="250"
          height="80"
        />
      </div>
    </div>
  </section>
</Layout>

<style>
  .logos {
    height: 80px;
    width: 1000px;
    justify-content: center;
    align-items: center;
  }

  .logos-small {
    height: 80px;
    width: 300px;
    justify-content: center;
    align-items: center;
  }
</style>
