---
import Card from "../components/Card.astro";
import axios from "axios";
export const prerender = false;

interface Props {
  displayLatest?: boolean;
}
const { displayLatest = false } = Astro.props;

//const posts = await Astro.glob("../posts/*.md");
async function getPosts() {
  try {
    const response = await axios.get("http://localhost:8055/items/posts");
    const posts = response.data.data.sort(
      (a, b) =>
        new Date(String(b.date)).getTime() - new Date(String(a.date)).getTime(),
    );
    return posts;
  } catch (error) {
    return [];
  }
}

const sortedPosts = await getPosts();
---

<div class="container flex flex-col gap-12 xl:grid xl:grid-cols-2">
  {
    sortedPosts.length > 0
      ? !displayLatest
        ? sortedPosts.map((post) => (
            <Card>
              <div class="h-auto pb-16">
                <div transition:name={`post-header-${post.slug}`}>
                  <h3 class="font-bold">{post.title}</h3>
                </div>

                <div transition:name={`post-author-${post.slug}`}>
                  Written by <strong> {post.author}</strong> on
                  {new Date(post.date).toLocaleDateString()}
                </div>
                <br />

                <div transition:name={`post-body-${post.slug}`}>
                  <p>{post.excerpt}</p>
                </div>
              </div>

              <div
                class="absolute bottom-6 left-4"
                transition:name={`post-button-${post.slug}`}
              >
                <a class="btn-white-bg" href={`/${post.slug}`}>
                  Read More
                </a>
              </div>
            </Card>
          ))
        : sortedPosts.slice(0, 2).map((post) => (
            <Card>
              <div class="h-auto pb-16">
                <div transition:name={`post-header-${post.slug}`}>
                  <h3 class="mb-4 text-xl font-bold">{post.title}</h3>
                </div>

                <div transition:name={`post-author-${post.slug}`}>
                  Written by <strong> {post.author}</strong> on
                  {new Date(post.date).toLocaleDateString()}
                </div>
                <br />

                <div transition:name={`post-body-${post.slug}`}>
                  <p>{post.excerpt}</p>
                </div>
              </div>

              <div
                class="absolute bottom-6 left-4"
                transition:name={`post-button-${post.slug}`}
              >
                <a class="btn-white-bg" href={`/${post.slug}`}>
                  Read More
                </a>
              </div>
            </Card>
          ))
      : "No posts found"
  }
</div>
