---
import logos from "../images/new-logos.png";
import logosSmall from "../images/new-logos-small.png";
import { Image } from 'astro:assets';

export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
  showRepository?: boolean;
  repository?: string;
}

const {
  heading = "Personal Blog",
  text = "",
  showExtra = false,
  showRepository = false,
  repository = "",
} = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
    <p>
      {text}
    </p>
    {
      showRepository && (
        <a href={repository} style="color: blueviolet">
          Git Hub Repository
        </a>
      )
    }
  </div>

  {
    showExtra && (
      <>
        <div class="showcase-img">
          <div class="image">
            <Image class="image" id="logo" src={logos} alt="technologies flyer" width="900" height="80"/>
            <Image
            class="image"
            id="logo-small"
            src={logosSmall}
            alt="technologies flyer small"
            width="250"
            height="80"
          /> 
          </div>
          
        </div>
      </>
    )
  }
</section>

<style>
  a {
    color: #a741ff;
  }

  a:hover {
    text-decoration: underline;
  }

  .showcase {
    height: auto;
    background-color: var(--color-secondary);
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      rgb(15 23 42 / 0)
    );
    padding: 30px;
  }

  .showcase-blog {
    min-height: 300px;
  }

  .showcase-text {
    max-width: 700px;
    color: #fff;
    text-align: center;
    margin: 50px auto;
  }

  .showcase h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
  }

  .showcase p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .showcase-img {
    text-align: center;
  }

  .showcase-img .image {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  .logo-small {
    display: 0
  }

  @media (max-width: 975){

  }

</style>
