---
import logos from "../images/new-logos.png";
import logosSmall from "../images/new-logos-small.png";
import { Image } from 'astro:assets';
import Quote from "../components/Quote.astro"

export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
  showRepository?: boolean;
  repository?: string;
  showQuote?: boolean;
  quote?: string;
  isAbout?: boolean;
}

const {
  heading = "Personal Blog",
  text = "",
  showExtra = false,
  showRepository = false,
  repository = "",
  showQuote = false,
  isAbout = false,
} = Astro.props as Props;



  
---

<section class="showcase">
  <div class="showcase-text text-center items-center">
    <h1>{heading}</h1>
    
      {
        showQuote && (
          
          <Quote></Quote> 
          
        )
      }
    
    
    
    <p class="mt-12">
      {text} 
    </p>

    {
      showRepository && (
        <i class="fa-brands fa-github"></i>
        <a href={repository} style="color: rgb(183, 0, 255)">
          
          Git Hub Repository
        </a>
      )
    }
  </div>

  {
    showExtra && (
      <>
      <div class="showcase-img z-10">
        <div class="image">
          <!-- Show this image for large screens and hide for small -->
          <Image class="image hidden lg:inline-block" id="logo" src={logos} alt="technologies flyer" width="900" height="80"/>
          <!-- Show this image for small screens and hide for large -->
          <Image class="image inline-block lg:hidden" id="logo-small" src={logosSmall} alt="technologies flyer small" width="250" height="80"/>
        </div>
      </div>
      </>
    )
  }
</section>

<script>
  
</script>

<style>
  a {
    color: #a741ff;
  }

  a:hover {
    text-decoration: underline;
  }

  .showcase {
    height: auto;
    background-color: var(--color-secondary);
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      rgb(15 23 42 / 0)
    );
    padding: 30px;
  }

  .showcase-blog {
    min-height: 300px;
  }

  .showcase-text {
    max-width: 700px;
    color: #fff;
    text-align: center;
    margin: 50px auto;
  }

  .showcase h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
  }

  .showcase p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .showcase-img {
    text-align: center;
  }

  .showcase-img .image {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  .logo-small {
    display: 0
  }

  @media (max-width: 975){

  }

</style>
