---
import logos from "../images/new-logos.png";
import logosSmall from "../images/new-logos-small.png";
import { Image } from 'astro:assets';
import Quote from "../components/Quote.astro"

export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
  showRepository?: boolean;
  repository?: string;
  showQuote?: boolean;
  quote?: string;
  isAbout?: boolean;
}

const {
  heading = "Personal Blog",
  text = "",
  showExtra = false,
  showRepository = false,
  repository = "",
  showQuote = false,
  isAbout = false,
} = Astro.props as Props;



  
---

<section class="h-auto showcase bg-secondary bg-gradient-to-b from-primary to-transparent p-7">
  <div class="items-center max-w-5xl mx-auto my-6 text-center text-white">
    <h1 class="mb-5 text-4xl text-white md:text-5xl">{heading}</h1>
    
      {
        showQuote && (
          
          <Quote></Quote> 
          
        )
      }
    
    
    
    <p class="mt-12 mb-5 text-lg md:text-xl">
      {text} 
    </p>

    {
      showRepository && (
        <i class="fa-brands fa-github"></i>
        <a href={repository} class="text-purple-500 hover:underline" target="_blank">
          
        Git Hub Repository
        </a>
      )
    }
  </div>

  {
    showExtra && (
      <>
      <div class="z-10 flex items-center justify-center">
        <div class="mx-auto rounded-xl">
          <!-- Show this image for large screens and hide for small -->
          <Image class="hidden mx-auto rounded-xl lg:inline-block" id="logo" src={logos} alt="technologies flyer" width="900" height="80"/>
          <!-- Show this image for small screens and hide for large -->
          <Image class="inline-block mx-auto rounded-xl lg:hidden" id="logo-small" src={logosSmall} alt="technologies flyer small" width="250" height="80"/>
        </div>
      </div>
      </>
    )
  }
</section>

<script>
  
</script>

